<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">


  <a class="navbar-brand" href="/customers">Bill List</a>
  <a class="navbar-brand" href="/denominations">Denominations</a>
  <a class="navbar-brand" href="/billings">New Bill</a>

</nav>
<div id="flash_message"></div>
<% if flash[:alert] %>
  <div class="alert alert-warning">
    <%= flash[:alert] %>
  </div>
<% end %>
<h1>Available products in the shop</h1>
<table class="table table-striped">
  <thead align="center">
    <tr>
      <th>Product Name</th>
      <th>Unit price</th>
      <th>Tax percentage</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody align="center" id="product_table">
    <% @products.each do |product| %>
      <tr id="product_<%= product.id %>">
        <%= render 'products/product_row', product: product %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add new product', new_product_path, class: 'btn btn-success',  remote: true, 'data-toggle' =>  "modal", 'data-target' => '#new_product' %>
<div class="modal fade" id="products" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="title"></h1>
      </div>
      <div class="modal-body">
        <div id="form"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>