<% if @product.errors.any? %>
  $('#error_division').html('<%= j render 'errors', products: @product %>');
<% else %>

  $('#products').modal('hide');
  $('#product_<%= @product.id %>').html('<%= j render 'products/product_row', product: @product %>');
  $('#flash_message').html('<div class="alert alert-info" id="message_shower"><%= flash[:notice] %></div>');
  setTimeout(remove_flash_message,3000);

  function remove_flash_message(){
      $('#message_shower').remove();
  }
<% end %>